.footer {
    padding: 10px 20px;
    text-align: center;
    background-color: #9f904d;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-text {
    margin: 0;
    font-size: 14px;
    color: #fff;

}