.carrinho-container {
    padding: 20px;
    background-color: #f8f9fa;
}

.carrinho-container h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
    background-color: #ddd;
}

.produto-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.produto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* For absolute positioning of button */
}

.produto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.produto h4 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #333;
}

.produto button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute; /* Positioned absolutely within the product */
    bottom: 10px;
    right: 10px; /* Align to the right */
    display: flex;
    align-items: center; /* Center icon and text vertically */
}

.produto button:hover {
    background-color: #c82333;
}

.produto button svg {
    margin-right: 5px; /* Space between icon and text */
}

.store-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    position: relative; /* Permitir posicionamento absoluto do botão dentro do card */
}

.buy-button {
    display: inline-block;
    padding: 6px 12px; /* Botão menor */
    background-color: #0fb430; /* Cor laranja do Mercado Livre */
    color: white;
    font-size: 14px; /* Tamanho da fonte menor */
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    position: absolute; /* Fixa o botão dentro do card */
    bottom: 10px; /* Distância do fundo do card */
    left: 10px; /* Distância da borda esquerda do card */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombras para o botão */
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #0fb430; /* Escurece a cor ao passar o mouse */
}
